.lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.items {
    list-style: square;
}

.input {
    padding: 2px;
    padding-right: 18px;
}

.entrada {
    display: flex;
    gap: inherit;
}

.entrada button {
    padding: 2px 10px;
}